<nav class="sidebar" aria-label="Documentation navigation">

  <h3>Getting Started</h3>
  <ul>
    <li><a href="{{ '/docs/' | url }}">Docs Overview</a></li>
    <li><a href="{{ '/docs/about' | url }}">What is Oscilla?</a></li>
    <li><a href="{{ '/docs/screenshots/' | url }}">Screenshots</a></li>
    <li><a href="{{ '/docs/workflow/' | url }}">Workflow</a></li>
    <li><a href="{{ '/docs/cheatsheet/' | url }}" class="popup-link">Cheatsheet ↗</a></li>
    <li><a href="{{ '/docs/QUICKSTART/' | url }}">Quickstart</a></li>
    <li><a href="{{ '/docs/INSTALL/' | url }}">Install</a></li>
  </ul>

  <h3>Cues</h3>
  <ul>
    <li><a href="{{ '/docs/cue_stop/' | url }}">stop()</a></li>
    <li><a href="{{ '/docs/cue_pause/' | url }}">pause()</a></li>
    <li><a href="{{ '/docs/cue_speed/' | url }}">speed()</a></li>
    <li><a href="{{ '/docs/cue_stopwatch/' | url }}">stopwatch()</a></li>
    <li><a href="{{ '/docs/cue_metronome/' | url }}">metronome()</a></li>
    <li><a href="{{ '/docs/cue_page/' | url }}">page()</a></li>
    <li><a href="{{ '/docs/cue_nav/' | url }}">nav()</a></li>
    <li><a href="{{ '/docs/cue_button' | url }}">button()</a></li>
    <li><a href="{{ '/docs/cue_propagate/' | url }}">propagate()</a></li>
    <li><a href="{{ '/docs/cue_reuse/' | url }}">reuse()</a></li>
    <li><a href="{{ '/docs/cue_text/' | url }}">text()</a></li>
    <li><a href="{{ '/docs/cue_audio/' | url }}">audio()</a></li>
    <li><a href="{{ '/docs/cue_video/' | url }}">video()</a></li>
    <li><a href="{{ '/docs/cue_synth/' | url }}">synth()</a></li>
    <li><a href="{{ '/docs/cue_osc/' | url }}">osc()</a></li>
    <li><a href="{{ '/docs/cue_oscCtrl/' | url }}">oscCtrl()</a></li>
  </ul>

  <h3>Animation</h3>
  <ul>
    <li><a href="{{ '/docs/cue_scale/' | url }}">scale()</a></li>
    <li><a href="{{ '/docs/cue_rotate/' | url }}">rotate()</a></li>
    <li><a href="{{ '/docs/cue_o2p/' | url }}">o2p()</a></li>
    <li><a href="{{ '/docs/traverse/' | url }}">traverse()</a></li>
    <li><a href="{{ '/docs/color/' | url }}">color()</a></li>
    <li><a href="{{ '/docs/cue_fade/' | url }}">fade()</a></li>
    <li><a href="{{ '/docs/cue_ui/' | url }}">ui()</a></li>
  </ul>

  <h3>Performer</h3>
  <ul>
    <li><a href="{{ '/docs/contribution_surface/' | url }}">Contribution Surface</a></li>
  </ul>

  <h3>Tools</h3>
  <ul>
    <li><a href="{{ '/docs/inkscape_extension/' | url }}">Inkscape Extension</a></li>
  </ul>

  <h3>Developer</h3>
  <ul>
      <li><a href="{{ '/docs/oscilla_architecture_overview/' | url }}">Architecture Overview</a></li>
    <li><a href="{{ '/docs/dev-sync-architecture/' | url }}">Sync Architecture</a></li>
  </ul>

</nav>
