<nav class="sidebar">
  <h2>Docs</h2>

  <h3>Cues</h3>
  <ul>
    <li><a href="{{ '/docs/cue_audio/' | url }}">cue_audio</a></li>
    <li><a href="{{ '/docs/cue_text/' | url }}">cue_text</a></li>
    <li><a href="{{ '/docs/cue_nav/' | url }}">cue_nav</a></li>
    <li><a href="{{ '/docs/cue_pause/' | url }}">cue_pause</a></li>
    <li><a href="{{ '/docs/cue_repeat/' | url }}">cue_repeat</a></li>
    <li><a href="{{ '/docs/cue_traverse/' | url }}">cue_traverse</a></li>
    <li><a href="{{ '/docs/cue_osc/' | url }}">cue_osc</a></li>
    <li><a href="{{ '/docs/cue_oscCtrl/' | url }}">cue_oscCtrl</a></li>
    <li><a href="{{ '/docs/cue_page/' | url }}">cue_page</a></li>
    <li><a href="{{ '/docs/cue_group/' | url }}">cue_group</a></li>
    <li><a href="{{ '/docs/cue_choice/' | url }}">cue_choice</a></li>
    <li><a href="{{ '/docs/cue_stop/' | url }}">cue_stop</a></li>
    <li><a href="{{ '/docs/cue_stopwatch/' | url }}">cue_stopwatch</a></li>
    <li><a href="{{ '/docs/cue_media/' | url }}">cue_media</a></li>
    <li><a href="{{ '/docs/cue_video/' | url }}">cue_video</a></li>
  </ul>

  <h3>Animation</h3>
  <ul>
    <li><a href="{{ '/docs/anim_scale/' | url }}">Scale</a></li>
    <li><a href="{{ '/docs/anim_rotate/' | url }}">Rotation</a></li>
  </ul>

  <h3>System</h3>
  <ul>
    <li><a href="{{ '/docs/cueSystem/' | url }}">Cue System</a></li>
    <li><a href="{{ '/docs/cuehandler_architecture/' | url }}">Architecture</a></li>
    <li><a href="{{ '/docs/cue_propagate/' | url }}">Propagation & Reuse</a></li>
  </ul>
</nav>
